{% templatetag openblock %} extends "base_page.html" {% templatetag closeblock %}
{% templatetag openblock %} load wagtailcore_tags wagtailimages_tags static {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
{% templatetag openblock %} block breadcrumbs {% templatetag closeblock %}
    {% templatetag openblock %} include "navigation/breadcrumbs.html" {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}
<div class="site-padding site-container gap-10 pt-20 md:pt-28 tall:md:pt-40 pb-10 md:pb-20 flex flex-col lg:flex-row">
    <div class="max-w-[872px]">
        <p class="text-sm md:text-base text-grey-700 dark:text-grey-200 font-codepro pt-0 pb-10">
            <span class="text-sm md:text-base text-mackerel-300 font-medium uppercase">
                {% templatetag openvariable %} page.topic {% templatetag closevariable %}
            </span>{% templatetag openblock %} include "icons/slash.html" with class="inline fill-current w-4 h-4" {% templatetag closeblock %}{% templatetag openblock %} include "icons/slash.html" with class="inline -ml-1 fill-current w-4 h-4" {% templatetag closeblock %}<span class="text-sm md:text-base text-grey-700 dark:text-grey-200">
                {% templatetag openvariable %} page.display_date {% templatetag closevariable %}
            </span>
        </p>
        <h1 class="font-serif4 font-bold text-4xl lg:text-7xl">
            {% templatetag openvariable %} page.title {% templatetag closevariable %}
        </h1>

        <p class="pt-7 rich-text">
            {% templatetag openvariable %} page.introduction|richtext {% templatetag closevariable %}
        </p>
    </div>
    <div class="lg:self-end lg:ml-auto flex flex-row items-center gap-3 text-sm md:text-base text-grey-700 dark:text-grey-200 font-codepro">
        {% templatetag openblock %} image page.author.image format-webp fill-60x60 gray as author_avatar {% templatetag closeblock %}
        <img
        src="{% templatetag openvariable %} author_avatar.url {% templatetag closevariable %}"
        width="{% templatetag openvariable %} author_avatar.width {% templatetag closevariable %}"
        height="{% templatetag openvariable %} author_avatar.height {% templatetag closevariable %}"
        alt="{% templatetag openvariable %} author_avatar.alt {% templatetag closevariable %}"
        class="w-10 h-10 rounded-full"
        />  
        {% templatetag openvariable %} page.author.title {% templatetag closevariable %}
    </div>
</div>

{% templatetag openblock %} if page.image {% templatetag closeblock %}
<div class="site-padding site-container pb-10 md:pb-20">
    <div class="bg-mackerel-300 pr-10 overflow-hidden w-full max-h-[350px] md:max-h-[400px] lg:max-h-[640px]">
        {% templatetag openblock %} image page.image.0.value.image format-jpeg width-1000 as page_image_1x_jpg {% templatetag closeblock %}
        {% templatetag openblock %} image page.image.0.value.image format-jpeg width-2000 as page_image_2x_jpg {% templatetag closeblock %}
        {% templatetag openblock %} image page.image.0.value.image format-webp width-1000 as page_image_1x_webp {% templatetag closeblock %}
        {% templatetag openblock %} image page.image.0.value.image format-webp width-2000 as page_image_2x_webp {% templatetag closeblock %}
        <picture>
            <source srcset="{% templatetag openvariable %} page_image_1x_webp.url {% templatetag closevariable %} 1x, {% templatetag openvariable %} page_image_2x_webp.url {% templatetag closevariable %} 2x" type="image/webp" />
            <source srcset="{% templatetag openvariable %} page_image_1x_jpg.url {% templatetag closevariable %} 1x, {% templatetag openvariable %} page_image_2x_jpg.url {% templatetag closevariable %} 2x" type="image/jpeg" />
            <img
                src="{% templatetag openvariable %} page_image_1x_webp.url {% templatetag closevariable %}"
                width="{% templatetag openvariable %} page_image_1x_webp.width {% templatetag closevariable %}"
                height="{% templatetag openvariable %} page_image_1x_webp.height {% templatetag closevariable %}"
                alt="{% templatetag openblock %} firstof page.image.0.value.image_alt_text page_image_1x_webp.alt {% templatetag closeblock %}"
                class="aspect-video w-full object-cover"
                {% templatetag openblock %} if page_image_1x_webp.focal_point {% templatetag closeblock %}
                style="{% templatetag openvariable %} page_image_1x_webp.object_position_style {% templatetag closevariable %}"
                {% templatetag openblock %} endif {% templatetag closeblock %}
            />
        </picture>

        

    </div>
    {% templatetag openblock %} if value.caption {% templatetag closeblock %}
        <p class="text-sm leading-6 py-5">{% templatetag openvariable %} page.image.0.value.caption {% templatetag closevariable %}</p>
    {% templatetag openblock %} endif {% templatetag closeblock %}
</div>
{% templatetag openblock %} endif {% templatetag closeblock %}

{% templatetag openblock %} include_block page.body {% templatetag closeblock %}

{% templatetag openblock %} endblock {% templatetag closeblock %}
