{% templatetag openblock %} extends "base_page.html" {% templatetag closeblock %}
{% templatetag openblock %} load wagtailcore_tags {% templatetag closeblock %}


{% templatetag openblock %} block content {% templatetag closeblock %}
    {% templatetag openblock %} block breadcrumbs {% templatetag closeblock %}
        {% templatetag openblock %} include "navigation/breadcrumbs.html" {% templatetag closeblock %}
    {% templatetag openblock %} endblock {% templatetag closeblock %}
    <div class="site-padding site-container">

        <div class="flex flex-col py-20">
            <h1 class="font-serif4 [word-spacing:-6px] font-bold text-8xl lg:text-10xl">
                {% templatetag openvariable %} page.title {% templatetag closevariable %}
            </h1>
            {% templatetag openblock %} if page.thank_you_text {% templatetag closeblock %}
                <div class="max-w-[636px] pt-7 rich-text md:w-2/3">
                    {% templatetag openvariable %} page.thank_you_text|richtext {% templatetag closevariable %}
                </div>
            {% templatetag openblock %} endif {% templatetag closeblock %}
        </div>
    </div>
{% templatetag openblock %} endblock content {% templatetag closeblock %}
