{% templatetag openblock %} extends "base_page.html" {% templatetag closeblock %}
{% templatetag openblock %} load wagtailcore_tags wagtailimages_tags static {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
    {% templatetag openblock %} block breadcrumbs {% templatetag closeblock %}
        {% templatetag openblock %} include "navigation/breadcrumbs.html" {% templatetag closeblock %}
    {% templatetag openblock %} endblock {% templatetag closeblock %}
    <div class="site-padding site-container">

        {# Hero #}
        <div class="flex flex-col md:flex-row md:items-center py-20">
            <h1 class="font-serif4 [word-spacing:-6px] font-bold text-8xl lg:text-10xl
            md:pr-16
            lg:pr-20
            {% templatetag openblock %} if page.introduction {% templatetag closeblock %}
                md:border-r-[1px]
                md:basis-2/6
                border-grey-200
            {% templatetag openblock %} endif {% templatetag closeblock %}
            ">
                {% templatetag openvariable %} page.title {% templatetag closevariable %}
            </h1>
            {% templatetag openblock %} if page.introduction {% templatetag closeblock %}
                <div class="
                    max-w-[636px]
                    rich-text
                    pt-5
                    md:w-2/3
                    md:pl-16
                    lg:pl-20
                ">
                    {% templatetag openvariable %} page.introduction|richtext {% templatetag closevariable %}
                </div>
            {% templatetag openblock %} endif {% templatetag closeblock %}
        </div>

        {% templatetag openblock %} if page.related_pages {% templatetag closeblock %}
            <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-10 pb-20 md:pb-40">
                {% templatetag openblock %} for related_page in page.related_pages.specific {% templatetag closeblock %}
                    {% templatetag openblock %} include "components/card.html" with page=related_page {% templatetag closeblock %}
                {% templatetag openblock %} endfor {% templatetag closeblock %}
            </section>
        {% templatetag openblock %} endif {% templatetag closeblock %}        
    </div>

    {% templatetag openblock %} include_block page.body {% templatetag closeblock %}

{% templatetag openblock %} endblock {% templatetag closeblock %}
