<div class="rich-text mb-10 md:mb-20 last:mb-0">
    <h2 class="font-serif4 text-3xl md:text-5xl font-semibold text-center
    {% if large_spacing %}
        mb-10 md:mb-20
    {% else %}
        mb-8 md:mb-10
    {% endif %}
    ">
        "{{ value.quote }}"</h2>
    {% if value.attribution %}
        <h2 class="font-serif4 text-base md:text-xl font-medium text-center
        {% if large_spacing %}
            mb-10 md:mb-20
        {% else %}
            mb-8 md:mb-10
        {% endif %}
        ">- {{ value.attribution }}</h2>
    {% endif %}
</div>