{% verbatim %}
{% if url %}
    <a 
        href="{{ url }}" 
        class="
        {{ classes }}
        {% if variant == 'footer' %}
            md:px-5
        {% else %}
            md:px-10
        {% endif %}
        text-white bg-mackerel-300 dark:text-mackerel-400
        px-5 py-3 md:py-[15px]
        justify-center items-center text-sm md:text-base font-codepro uppercase inline-flex rounded-[3px]">
            {{ title }}
    </a>
{% else %}
    <button 
        class="
        {{ classes }}
        {% if variant == 'footer' %}
            md:px-5 
        {% else %}
            md:px-10
        {% endif %}
        text-white bg-mackerel-300 dark:text-mackerel-400
        px-5 py-3 md:py-[15px]
        justify-center items-center text-sm md:text-base font-codepro uppercase inline-flex rounded-[3px]">
        {{ title }}
    </button>
{% endif %}
{% endverbatim %}
