{% templatetag openblock %} load wagtailcore_tags wagtailsettings_tags wagtailimages_tags {% templatetag closeblock %}

<div class="flex flex-col 
    md:flex-row
    md:gap-10
    md:items-start
    md:justify-start
    md:max-w-[1192px]
w-full h-full group
">
    <div class="
        rounded-md
        overflow-hidden 
        md:h-full
        md:min-w-[220px]
        md:max-w-[220px]
        lg:min-w-[345px]
        lg:max-w-[345px]
        w-full 
    ">
        {% templatetag openblock %} if page.listing_image {% templatetag closeblock %}
            {% templatetag openblock %} image page.listing_image format-jpeg fill-800x600 as card_image_1x_jpg {% templatetag closeblock %}
            {% templatetag openblock %} image page.listing_image format-jpeg fill-1600x1200 as card_image_2x_jpg {% templatetag closeblock %}
            {% templatetag openblock %} image page.listing_image format-webp fill-800x600 as card_image_1x_webp {% templatetag closeblock %}
            {% templatetag openblock %} image page.listing_image format-webp fill-1600x1200 as card_image_2x_webp {% templatetag closeblock %}
        {% templatetag openblock %} else {% templatetag closeblock %}
            {# fallback to placeholder image #}
            {% templatetag openblock %} image settings.utils.SystemMessagesSettings.get_placeholder_image format-jpeg fill-800x600 as card_image_1x_jpg {% templatetag closeblock %}
            {% templatetag openblock %} image settings.utils.SystemMessagesSettings.get_placeholder_image format-jpeg fill-1600x1200 as card_image_2x_jpg {% templatetag closeblock %}
            {% templatetag openblock %} image settings.utils.SystemMessagesSettings.get_placeholder_image format-webp fill-800x600 as card_image_1x_webp {% templatetag closeblock %}
            {% templatetag openblock %} image settings.utils.SystemMessagesSettings.get_placeholder_image format-webp fill-1600x1200 as card_image_2x_webp {% templatetag closeblock %}
        {% templatetag openblock %} endif {% templatetag closeblock %}
        <picture>
            <source srcset="{% templatetag openvariable %} card_image_1x_webp.url {% templatetag closevariable %} 1x, {% templatetag openvariable %} card_image_2x_webp.url {% templatetag closevariable %} 2x" type="image/webp" />
            <source srcset="{% templatetag openvariable %} card_image_1x_jpg.url {% templatetag closevariable %} 1x, {% templatetag openvariable %} card_image_2x_jpg.url {% templatetag closevariable %} 2x" type="image/jpeg" />
            <img
                src="{% templatetag openvariable %} card_image_1x_webp.url {% templatetag closevariable %}"
                width="{% templatetag openvariable %} card_image_1x_webp.width {% templatetag closevariable %}"
                height="{% templatetag openvariable %} card_image_1x_webp.height {% templatetag closevariable %}"
                alt="{% templatetag openvariable %} card_image_1x_webp.alt {% templatetag closevariable %}"

                class="
                aspect-[20/11] 
                md:aspect-[1]
                w-full h-full object-cover"
                {% templatetag openblock %} if card_image_1x_webp.focal_point {% templatetag closeblock %}
                style='{% templatetag openvariable %} card_image_1x_webp.object_position_style {% templatetag closevariable %}'
                {% templatetag openblock %} endif {% templatetag closeblock %}
            />
        </picture>
    </div>

    <div class="
        md:h-full
        md:justify-center
        md:flex
        md:flex-col
        md:max-w-[767px]
    ">
        {% templatetag openblock %} if page.display_date {% templatetag closeblock %}
            <p class="text-sm md:text-base text-grey-700 dark:text-grey-200 font-codepro pt-7 md:pt-0 pb-2.5">
                <span class="text-sm md:text-base text-mackerel-300 font-medium uppercase mr-1">
                    {% templatetag openvariable %} page.topic {% templatetag closevariable %}
                </span>{% templatetag openblock %} include "icons/slash.html" with class="inline fill-current w-2.5 h-2.5" {% templatetag closeblock %}{% templatetag openblock %} include "icons/slash.html" with class="inline fill-current w-2.5 h-2.5" {% templatetag closeblock %}<span class="text-sm md:text-base text-grey-700 dark:text-grey-200 ml-1">
                    {% templatetag openvariable %} page.display_date {% templatetag closevariable %}
                </span>
            </p>
        {% templatetag openblock %} endif {% templatetag closeblock %}
        <a
            href="{% templatetag openblock %} pageurl page {% templatetag closeblock %}"
            class="
            text-xl md:text-2xl font-bold leading-8 md:leading-10
            underline
            underline-offset-8
            decoration-[1.5px]
            decoration-mackerel-200
            hover:decoration-mackerel-300
            "
        >
            {% templatetag openblock %} firstof page.listing_title page.title {% templatetag closeblock %}
        </a>
        <p class="text-grey-700 dark:text-grey-200 pt-2.5 leading-6">
            {% templatetag openblock %} firstof page.listing_summary page.plain_introduction {% templatetag closeblock %}
        </p>
        {% templatetag openblock %} if page.author {% templatetag closeblock %}
            <div class="flex flex-row items-center gap-3 text-sm md:text-base text-grey-700 dark:text-grey-200 font-codepro pt-7">
                {% templatetag openblock %} image page.author.image format-webp fill-60x60 gray as author_avatar {% templatetag closeblock %}

            <img
                src="{% templatetag openvariable %} author_avatar.url {% templatetag closevariable %}"
                width="{% templatetag openvariable %} author_avatar.width {% templatetag closevariable %}"
                height="{% templatetag openvariable %} author_avatar.height {% templatetag closevariable %}"
                alt="{% templatetag openvariable %} author_avatar.alt {% templatetag closevariable %}"
                class="w-10 h-10 rounded-full"
            />  
                {% templatetag openvariable %} page.author.title {% templatetag closevariable %}
            </div>
        {% templatetag openblock %} endif {% templatetag closeblock %}
    </div>
</div>
