{% verbatim %}
<form action="{% url 'search' %}" method="get" role="search"
    class="
        {% if variant == 'search-panel' %}
            site-container 
            px-10 md:px-20
            w-full
            m-auto
            flex
            justify-end
        {% elif variant == 'mobile-menu' %}
            py-14
        {% endif %}
    ">
    <div 
        class="
        flex 
        grow
        {% if variant != 'mobile-menu' %}
            flex-col 
            md:flex-row
            max-w-[520px]
        {% endif %}
        "
        {% if variant == "search-panel" %}
            data-search-content
        {% endif %}
    >
        <input
            class="
            {% if variant == 'mobile-menu' %}
            bg-white
            bg-opacity-20
            placeholder:text-white
            text-white
            dark:text-white
            {% else %}
                bg-white dark:bg-mackerel-100 
                mb-3 md:mb-0
            {% endif %}
            border border-mackerel-200 
            placeholder:text-base text-base 
            w-full h-[50px] 
            rounded-[30px] 
            px-4 pt-3 pb-2 mr-3
            " 
            type="search"
            aria-label="Search our website"
            placeholder="Search our website"
            name="query"
            {% if variant == "search-panel" %}
                data-search-input
            {% endif %}
        />
        <button 
            class="
            {% if variant == 'mobile-menu' %}
            text-white 
            bg-mackerel-400
            {% else %}
                text-white 
                dark:text-mackerel-400 
                bg-mackerel-300 
            {% endif %}
            px-5 
            py-3 
            justify-center 
            items-center 
            text-sm 
            md:text-base 
            font-codepro 
            uppercase 
            inline-flex 
            rounded-[30px]
            "
        >
            Search
        </button>
    </div>
</form>
{% endverbatim %}
