<label class="relative w-fit flex justify-center items-center group p-1 cursor-pointer">
    <span class="sr-only">
        Theme toggle
    </span>
    <input 
        data-theme-toggle
        type="checkbox" 
        class="cursor-pointer border-[1px] 
        border-grey-500 
        rounded-full 
        absolute 
        w-full 
        h-full 
        peer 
        checked:border-mackerel-200
        appearance-none" 
    />
    <span class="
        w-10
        h-4 
        flex items-center flex-shrink-0 
        py-1
        rounded-full 
        duration-300 ease-in-out 
        peer-checked:bg-mackerel-300
        after:w-4 
        after:h-4 
        after:bg-black 
        after:rounded-full 
        after:shadow-md 
        after:duration-300 
        peer-checked:after:translate-x-6
        peer-checked:after:bg-white
        "
        >
    </span>
</label>